*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# NetBeans
/build.xml
/nbproject
/dist

# IntelliJ IDEA
/.idea
/out
/*.iml

# Maven out & debug
/target
/temp

# debug files
/set.ini
/bookmarkList.dat
/downloadList.dat
/recordList.dat
/ErrorRecord
output

#bak file
/src/test/java/jcomicdownloader/*.bak
down
